<div class="container">
  <business-navbar [items]="hamburgerMenuItems"></business-navbar>
  <div class="fadeInFast" *ngIf="!getOrderLoad">
    <div class="row my-5">
      <div class="text-lg text-semi-bold mb-3">
        Order Details
      </div>
      <div class="d-flex align-items-center justify-content-start cursor mb-3">
        <!-- Order Details -->
        <div class="container">
          <div class="col-12">
            <div class="row">
              <div class="col-6">
                <div class="row">
                  <div class="col-12 mb-3">
                    <div class="text-semi-bold">
                      Order ID
                    </div>
                    <div class="text-md text-semi-bold">
                      #{{order.order_id.split('-').pop() | uppercase}}
                    </div>
                  </div>
                  <div class="col-12 mb-3">
                    <div class="text-semi-bold">
                      Order Date
                    </div>
                    <div class="text-md">
                      {{order.created_at | date: 'mediumDate'}} {{order.created_at | date: 'shortTime'}}
                    </div>
                  </div>
                  <div class="col-12 mb-3">
                    <div class="text-semi-bold">
                      Order Status
                    </div>
                    <div class="text-md" [ngClass]="order.status_text_color">
                      {{order.order_status_text}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="row">
                  <div class="col-12 mb-3">
                    <div class="text-semi-bold">
                      Customer Name
                    </div>
                    <div class="text-md">
                      {{order.users.full_name}}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="text-semi-bold">
                      Payment Method
                    </div>
                    <div class="text-md">
                      {{order.payment_method === 'pay_at_delivery' ? 'Pay at Delivery' : 'Paid Online'}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12" *ngIf="order.order_status !== 'cancelled'">
            <div class="row">
              <div class="col-12 mb-3">
                <div class="text-md text-semi-bold mb-3">
                  Update Order Status
                </div>
                <div class="text-md mx-3">
                  <button type="button" (click)="updateOrderStatus('order_received')" pButton label="Accept Order" *ngIf="order.order_status === 'order_placed'"></button>
                  <p-dropdown [disabled]="order.order_status === 'picked_up' || order.order_status === 'delivered'"  *ngIf="order.order_status !== 'order_placed'" [options]="orderStatuses" [(ngModel)]="orderStatus" optionLabel="label" optionValue="value" class="me-3">
                    <ng-template let-option pTemplate="item">
                      <div *ngIf="option.value !== 'delivered'">{{option.label}}</div>
                    </ng-template>                  
                  </p-dropdown>
                  <button *ngIf="order.order_status !== 'picked_up' && order.order_status !== 'order_placed' && order.order_status !== 'delivered'" type="button" pButton label="Update" (click)="updateOrderStatus(orderStatus)"></button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-12">
                <div class="text-md text-semi-bold mb-3">
                  Order Items
                </div>
                <div class="text-md">
                  <ng-container *ngFor="let item of order.order_items">
                    <business-menu-item-card [menuItem]="item"></business-menu-item-card>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12" *ngIf="order.instructions">
            <div class="row">
              <div class="col-12">
                <div class="text-md text-semi-bold mb-3">
                  Order Notes
                </div>
                <div class="text-md">
                  {{order.instructions}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="getOrderLoad" class="d-flex justify-content-center align-items-center fadeInFast">
    <div class="col-6 d-flex justify-content-center align-items-center" style="height: 90vh;">
      <img src="/assets/search.svg" width="200" class="img-fluid" alt="">
    </div>
  </div>
</div>